
* {
	margin:0;
	padding:0;
}

/* Corpo total da página */
body {
	background-color:#f0f8ff;
	font-family:Verdana, sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#container {
	width: 65%;
	margin: 90px auto 0 auto;
	display: flex;
	flex-wrap: wrap;
}

#caixa1 {
	box-sizing: border-box;
	width: 100%;
	min-height: 245px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 30px;
	background:white;
}

/* Título da caixa 1 */
.titulocx1 {
	color: #00ced1;
}

.subtitulo {
	color: #ccff33;
	font-size:1.17em;
	font-weight: 900;
	margin-top:20px;
}

.texto {
	margin-top:20px;
	color:#a9a9a9;
	font-size: 0.97em;
	font-weight:900;
}

#caixa2 {
	box-sizing: border-box;
	border-bottom-left-radius:10px;
	width:50%;
	min-height:245px;
	background:#20b2aa;
	padding: 30px;
}

/* Formatação e posicionamento da caixa "Sign Up" */
#caixa2 a {
	background:#ccff33;
	width:60%;
	padding:11px 10px;
	font-size:15px;
	font-weight:900;
	text-align:center;
	margin: 0 auto;
	border-radius:8px;
	text-decoration:none;
	display:block;
	color:white;
}

/* Formatação da caixa "Sign Up" quando for passar o mouse por cima */
#caixa2 a:hover {
	color:#20b2aa;
	background:white;
}

/* Textos da caixa 2 */
.titulocx2 {
	margin-bottom: 20px;
	color:white;
}

.texto2 {
	margin-bottom: 20px;
	color:white;
}

.texto3 {
	margin-bottom: 30px;
	color: white;
	font-size: 1em;
}

#caixa3 {
	box-sizing: border-box;
	border-bottom-right-radius:10px;
	width:50%;
	background:#48d1cc;
	padding: 30px;
}

.titulocx3 {
	color: white;
	margin-bottom: 15px;
}

ul#links li {
	margin-bottom: 5px;
}

ul#links a {
	color: #fff;
	font-size: 0.95em;
}

ul#links a:hover {
	text-decoration: underline;
}

.rodape {
	text-align:center;
	margin: 40px 0;
}

/* Responsividade */

@media (max-width: 576px) { /* Celulares de tela pequena e média */
	#container {
		display: block;
		width: 90%;
	}

	#caixa2 {
		width: 100%;
		border-bottom-left-radius: 0;
	}

	#caixa3 {
		width: 100%;
		border-bottom-left-radius: 10px;
	}
}

@media (max-width: 768px) { /* Celulares de tela grande e tablets */
	#container {
		display: block;
		width: 90%;
	}

	#caixa2 {
		width: 100%;
		border-bottom-left-radius: 0;
		text-align: center;
	}

	#caixa3 {
		width: 100%;
		border-bottom-left-radius: 10px;
		text-align: center;
	}
}